<header class="z-max fixed h-100-ns h10 w-auto-ns w-100 bg-white br-ns bb">
  <nav class="flex flex-column-ns">
    <a class="link bb-ns br black hover-bg-light-silver vh-third-ns w-100-ns w-third flex items-center justify-center" href="/"><img class="pa2 dib-ns dn" src="{{ "assets/nav/issue.png" | relative_url }}"> <span class="dn-ns pa1">Issue</span> </a>
    <a class="link bb-ns br black hover-bg-light-silver vh-third-ns w-100-ns w-third flex items-center justify-center" href="/about.html"><img class="pa2 dib-ns dn" src="{{ "assets/nav/tentang.png" | relative_url }}"> <span class="dn-ns pa1">Tentang</span> </a>
    <a class="link bb-ns br black hover-bg-light-silver vh-third-ns w-100-ns w-third flex items-center justify-center" href="contact.html"><img class="pa2 dib-ns dn" src="{{ "assets/nav/kontak.png" | relative_url }}"> <span class="dn-ns pa1">Kontak</span> </a>
  </nav>
</header>
