---
layout: default
---
<div class="container">

  <div class="mt0-ns mt3 w-100 cover flex items-center justify-end" style="background:url({{ page.cover | relative_url}}) center">
    <div class="z-1 absolute right-0 flex justify-center items-center">
      <img class="w-40-l w-80 flip-vertical-right" src="{{ "assets/logo.svg" | relative_url }}" alt="">
    </div>

    <div class="flex flex-column white tr f-headline-l f-subheadline-m f2 pa4-ns pa3 w-70-ns w-90">
      <span>Issue #{{page.category}}</span>
      <span>{{page.title}}</span>
    </div>
  </div>

  <div class="mh6-ns mh3 mv5-ns mv3 w-60-ns lh-copy">
    <h2 class="lh-solid">Editorial</h2>
    {{content}}
  </div>

  <div class="mh6-ns mh3 mb5 w-60-ns lh-title">
    <h2 class="lh-solid">Daftar Isi</h2>

    {%  for post in site.categories[page.category] %}
      <a class="link black" href="{{post.url}}">
        <div class="f4"> {{post.title}} </div>
        <div class="mb2 f6"> {{post.author}} </div>
      </a>
    {% endfor %}

  </div>

</div>
